# flake8 is currently not yet supported by pyproject.toml.
# Please move this into pyproject.toml, when it does.

[flake8]
# 120 is a hard limit. Black keeps lines generally at 88.
max-line-length = 120

# W503 talks about operator formatting which is too opinionated.
# E203 is need to support black formatting.
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html
# Dxx ignores are for pydocstyle. It should mirror the [tool.pydocstyle] section in
# pyproject.toml. Mirrored here for flake8-docstring support. See pyproject.toml for
# reasons for disabling.
extend-ignore = E203, W503, D1, D202, D205, D400, D401, D415
exclude =
  .git,
  __pycache__,
  .eggs,
  **test/models/*.py,
  **onnx_backend_test_code/*.py,

per-file-ignores =
  onnxscript/function_libs/torch_aten/ops/*:E501
