# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

onnxscript/test/models/testoutputs/*
