# Configuration for lintrunner https://github.com/suo/lintrunner
merge_base_with = 'main'

[[linter]]
code = 'RUFF'
include_patterns = [
    '**/*.py',
    '**/*.pyi',
]
exclude_patterns = [
    'tests/models/**',
]
command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'ruff_linter',
    '--config=pyproject.toml',
    '@{{PATHSFILE}}'
]
init_command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pip_init',
    '--dry-run={{DRYRUN}}',
    '--requirement=requirements/lintrunner/requirements.txt',
]
is_formatter = true

[[linter]]
code = 'MYPY'
include_patterns = [
    'onnxscript/**/*.py',
    'onnxscript/**/*.pyi',
]
exclude_patterns = [
    'onnxscript/_internal/converter.py',
    'onnxscript/_internal/evaluator.py',
    'onnxscript/**/*_test.py', # Skip linting test files for speed
    'onnxscript/**/tools/**/*.py',
    'onnxscript/function_libs/torch_lib/ops/**', # Operators typing do not play well with mypy
    'onnxscript/onnx_opset/**/*.py',  # auto-generated code
    'onnxscript/onnx_types.py',
    'onnxscript/rewriter/ort_fusions/_rotary_embedding_models.py',  # onnxscript code
    'onnxscript/rewriter/ort_fusions/models/*.py',  # onnxscript code
    'onnxscript/rewriter/models/*.py',  # onnxscript code
]
command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'mypy_linter',
    '--config=pyproject.toml',
    '--show-disable',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pip_init',
    '--dry-run={{DRYRUN}}',
    '--requirement=requirements/lintrunner/requirements.txt',
]

[[linter]]
code = 'RUFF-FORMAT'
include_patterns = [
    '**/*.py',
]
exclude_patterns = [
    'tests/onnx_backend_test_code/**',
]
command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'ruff_format_linter',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pip_init',
    '--dry-run={{DRYRUN}}',
    '--requirement=requirements/lintrunner/requirements.txt',
]
is_formatter = true

[[linter]]
code = 'PYLINT'
include_patterns = [
    '**/*.py',
]
exclude_patterns = [
    'docs/**',
    'examples/**',
    'onnxscript/_internal/converter_test.py',
    'onnxscript/optimizer/**',  # FIXME
    'onnxscript/rewriter/**',  # FIXME
    'tests/functions/**',
    'tests/models/**',
    'tests/onnx_backend_test_code/**',
]
command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pylint_linter',
    '--rcfile=pyproject_pylint.toml',
    '--show-disable',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pip_init',
    '--dry-run={{DRYRUN}}',
    '--requirement=requirements/lintrunner/requirements.txt',
]

[[linter]]
code = 'EDITORCONFIG-CHECKER'
include_patterns = ['**']
exclude_patterns = [
    '**/*.ipynb',
    '**/*.onnx',
    '**/*.pb'
]
command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'editorconfig_checker_linter',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python',
    '-m',
    'lintrunner_adapters',
    'run',
    'pip_init',
    '--dry-run={{DRYRUN}}',
    '--requirement=requirements/lintrunner/requirements.txt',
]
