autopep8
click
numpy==1.21.5
matplotlib
--pre -f https://onnxruntimepackages.blob.core.windows.net/$web/onnx-function-experiment.html
onnx-function-experiment
--pre -f https://onnxruntimepackages.blob.core.windows.net/$web/onnxruntime-function-experiment.html
ort-function-experiment-nightly
protobuf<4
sphinx
sphinx-gallery
pydata_sphinx_theme
pytest!=7.1.0
pytest-cov
pytest-azurepipelines
pytest-subtests
torch
# Lint
flake8
mypy
black
isort[colors]
dlint
flake8-bugbear
