# This file is auto updated by dependabot
lintrunner-adapters>=0.8.0
# RUFF, RUFF-FIX
ruff==0.3.2
# MYPY
mypy==1.8.0
types-PyYAML==6.0.12.11
# PYLINT
pylint==2.17.6
# EDITORCONFIG-CHECKER
editorconfig-checker==2.7.3
