# This file is auto updated by dependabot
lintrunner-adapters>=0.14.1
# RUFF, RUFF-FIX
ruff==0.15.8
# MYPY
mypy==2.0.0
types-PyYAML==6.0.12.20260815
# EDITORCONFIG-CHECKER
editorconfig-checker==3.11.1
